# Binary
cactusd

# Server works dirs
upload
download
#public/files
public


# Temps
tmp
temp
backup
merge*

# Prod configs
.prod
config-*
config/prod*

# System files
.DS_Store
.idea
.vscode

# Builds
dist/
addits/builds
addits/systemd