{{define "title"}}Home on{{end}}

{{define "main"}}
<div class="columns is-multiline">
    <div class="column is-8-tablet has-text-centered">
        <p>Already files to download:</p>

        <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
            {{range $f, $s := .PublicFiles}}
            <li class="mr-4">
                <p><a href="public/files/{{$f}}">{{$f}}</a> <br>{{$s}}</p>
            </li>
            {{end}}
        </ul>


    </div>
    <div class="column is-4-tablet">
        <ul class="is-flex is-flex-wrap-wrap is-align-items-baseline is-justify-content-center">
            <li class="mr-4">
                Host name: {{.HostName}}
            </li>
            <li class="mr-4">
                Server date/time: {{.CurrentDate}}
            </li>
        </ul>
    </div>
</div>
{{end}}